@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

$accentColor = #d12f2f
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

body {
	font-family: 'Roboto', sans-serif !important;
}

.navbar .logo {
	margin-right: 5px !important;
}
