@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

$accentColor = #d12f2f
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

body {
	font-family: 'Roboto', sans-serif !important;
	font-size:  15px !important;
}

.navbar .logo {
	margin-right: 5px !important;
}

.hero, .features {
	display: none !important;
}

@media all and (min-width: 720px) {
	.home {
    	margin-left: 21.2rem !important;
	}

	.theme-container.no-sidebar .sidebar {
		display:  initial !important;
	}
}